{% extends 'layout.html' %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap" rel="stylesheet">

  <div class="timeline">
    <div class="followings_half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers_half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="profile_half">
    <form id="profile" action="/user/profile" method="post">
      <input type="text" name='nick'>
      <button class="nickname">닉네임 수정</button>
    </form>
  </div>
  <a class="mainpage" href="/">메인페이지로 돌아가기</a>
  
{% endblock %}
