* { box-sizing: border-box; }
button, .container, .timeline, .twits {
  font-family: 'Noto Serif KR', serif;
}

body {
    margin-top: 200px;
}
.kucc{
    position: absolute;
    top: 10px;
    right: 34%;
    z-index: -1;
    width: 120px;
    height: auto;
}  

html, body { margin: 0; padding: 0; height: 100%; }
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: #C3201F;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  font-size: 12px;
}

input[type='text']{
  margin-top: 15px;
  margin-bottom: 15px;
}

#search {
  margin-top: 15px;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
  outline: none;
}

.email-content {
  font-size: 12px;
}

.password-content {
  font-size: 12px;
}

input:focus {
  border: 1px solid #C3201F;
  box-shadow: 0 0 5px #C3201F;
}

textarea:focus {
  border: 1px solid #C3201F;
  box-shadow: 0 0 5px #C3201F;
}

.container { width: 100%; height: 100%; }
@media screen and (min-width: 500px) {
  .container { width: 500px; margin: 0 auto; }
}
.input-group { margin-bottom: 15px; }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 290px; margin-bottom: 0; }
}
.profile {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid silver;
  background: #C3201F;
}
#profile {
  margin-top: 30px;
}
.nickname {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: #C3201F;
  height: 37px;
  line-height: 37px;
  font-size: 12px;
}
.mainpage {
  color: #C3201F;
  font-size: 27px;
  display: block;
  margin-top: 30px;
}
.user-name { font-weight: bold; font-size: 18px; }
.count { font-weight: bold; color: #C3201F; font-size: 18px; }
.timeline {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  vertical-align: top;
}
@media screen and (min-width: 800px) { .timeline { width: 500px; } }
#twit-form {
  border-bottom: 1px solid silver;
  padding: 10px;
  background: #C3201F;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}
#img-preview { max-width: 100%; }
#img-label {
  float: left;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #C3201F;
  background-color: #C3201F;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  height: 37px;
  line-height: 37px;
}
#img { display: none; }
#twit { width: 100%; min-height: 72px; }
#twit-btn {
  float: right;
  color: white;
  background: #C3201F;
  border: none;
}
.twit {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.twit-author { display: inline-block; font-weight: bold; margin-right: 10px; }
.twit-follow,
.twit-notfollow,
.twit-delete,
.like,
.unlike {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  color: #C3201F;
  font-size: 12px;
  cursor: pointer;
}

.like {
  margin-top: 10px;
  border: 1px solid red;
  color: red;
}

.unlike {
  margin-top: 10px;
  border: 1px solid gray;
  color: gray;
}

.followings_half {
  position: absolute;
  top: 0;
  left: 60%;
}

.followers_half {
  position: absolute;
  top: 0;
  left: 80%;
}

footer {
  margin-top: 15px;
  color: #C3201F;
}

footer a {
  color: #C3201F;
}

.twit-img { text-align: center; }
.twit-img img { max-width: 75%; }
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; }
#hashtag-form { text-align: right; margin-right: 10px; }
footer { text-align: center; }
